<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
    <h1>Agrega una habitacion</h1>

    <form onsubmit="handle_submit(event)">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" name="tipo_habitacion" aria-label="Floating label select example">
              <option selected> Seleccione una opcion </option>
              <option value="simple">Simple</option>
              <option value="doble">Doble</option>
              <option value="familiar">Familiar</option>
            </select>
            <label for="floatingSelect">Tipo de habitacion</label>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Precio</label>
          <input type="number" class="form-control" id="exampleInputPassword1" name="precio_noche">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="disponible">
            <label class="form-check-label" for="exampleCheck1">Disponibilidad</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>

        

        function handle_submit(event) {
            event.preventDefault()

            const formData = new FormData(event.target)

            tipo_habitacion = formData.get("tipo_habitacion")
            disponible = document.getElementById('exampleCheck1').checked; 
            console.log(disponible)
            precio_noche = formData.get("precio_noche")

            fetch("http://127.0.0.1:5000/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    tipo_habitacion: tipo_habitacion,
                    disponible: disponible,
                    precio_noche: precio_noche
                    
                })
            })
                .then((res) => res.json())
                // .then(handle_response)
                .catch((error) => console.log("ERROR", error))

        }

    </script>
</body>
</html>