body {
    font-family: Perpetua, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}

header {
    background: url('https://th.bing.com/th/id/OIP.yt3l8OZVnn8yym8pW8VDTgHaE8?rs=1&pid=ImgDetMain') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 200px 0;
    position: relative; /* Añadido para permitir posicionamiento absoluto de hijos */
    text-align: center;
}

#fecha {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-style: italic;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size:small;
}

.menu li {
    margin: 0 20px;
}

.menu .logo a{
    font-size: 24px;
}

.menu .link{
    color: #fff;
    text-decoration: none;
    font-size: small;
}

a {
    text-decoration: none;
}
h1, h2 {
    color: #333;
}

.habitacion {
    background-color: white;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    width: 80%;
    max-width: 500px;
}

.habitacion h3 {
    margin-top: 0;
}

#login-btn {
    background-color:#333;
    color: #fff ;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: perpetua, sans-serif;
    font-size: 1.5em;
}
#login-btn:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }

    .item {
        margin: 10px 0;
    }

    .habitacion {
        width: 90%;
    }

    #fecha {
        top: 5px;
        right: 5px;
        padding: 3px 5px;
    }
}
