
nav {
    background-color: #333;
    padding: 10px 0;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

body {
    margin: 0; 
    padding-top: 60px; 
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: smaller;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu .logo a {
    font-size: 24px;
}

#login-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: perpetua, sans-serif;
    font-size: 1.5em;
}

#login-btn:hover {
    background-color: #555;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #333;
    color: #fff;
}

.dropdown-menu .dropdown-item {
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #555;
}

/* Estilos para la imagen de fondo con opacidad */
body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('https://img.freepik.com/fotos-premium/vista-habitaciones-hotel-noche-vistas-playa_795881-11673.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}

.content {
    position: relative;
    z-index: 1;
    color: white; 
    text-align: center;
    padding: 20px;
}


#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
}

/* Ajustar las tarjetas */
.card {
    border: none;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 18rem; 
    margin: 10px; 
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/
.card-body {
    text-align: center; 
}
