body {
    font-family: Perpetua, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
}
header {
    background-color: rgb(208, 67, 67);
    color: white;
    padding: 1px 0;
    text-align: center;
}
nav{
    text-align: center;
    padding: 10px 0;
}
p {
    font-size: 20px;
    margin: 35px;
}
#Boton_r{
    background-color: #282727;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
#Boton_c{
    background-color: #282727;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.service {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }
  .service img {
    width: 50px; 
  }
  .service p {
    font-size: 14px;
  }
h2{
    text-align: center;
    margin: 20px;
}
